In [5]:
import sqlite3

# Exercicios

##### Escreva um programa Python para criar um banco de dados SQLite e conectar-se ao banco de dados e imprimir a versão do banco de dados SQLite.

In [11]:
def criar_conexao_banco_dados(nome_banco_dados):
    # Cria uma conexão com o banco de dados
    conexao = sqlite3.connect(nome_banco_dados)
    return conexao

In [34]:
conn = criar_conexao_banco_dados('banco_teste.db')

In [35]:
def imprimir_versao_sqlite(conexao):
    # Obtém um cursor para executar comandos SQL
    cursor = conexao.cursor()
    # Executa uma consulta para obter a versão do SQLite
    cursor.execute("SELECT SQLITE_VERSION()")
    # Recupera o resultado da consulta
    versao_sqlite = cursor.fetchone()[0]
    # Imprime a versão do SQLite
    print("Versão do SQLite:", versao_sqlite)
    # Fecha o cursor e a conexão
    cursor.close()
    conexao.close()
    
imprimir_versao_sqlite(conn)

Versão do SQLite: 3.32.3

##### Escreva um programa Python para listar as tabelas de um determinado arquivo de banco de dados SQLite.

In [46]:
def listar_tabelas(nome_banco_dados):
    # Cria uma conexão com o banco de dados
    conexao = sqlite3.connect(nome_banco_dados)

    # Cria um objeto cursor para executar comandos SQL
    cursor = conexao.cursor()

    # Comando SQL para listar as tabelas no banco de dados
    comando_sql = "SELECT name FROM sqlite_master WHERE type='table';"

    # Executa o comando SQL para listar as tabelas
    cursor.execute(comando_sql)

    # Recupera o resultado da consulta
    tabelas = cursor.fetchall()

    # Imprime as tabelas
    print("Tabelas no banco de dados:")
    for tabela in tabelas:
        print(tabela[0])

    # Fecha o cursor e a conexão
    cursor.close()
    conexao.close()

def main():
    # Nome do arquivo do banco de dados
    nome_banco_dados = "banco_teste.db"

    # Lista as tabelas do banco de dados
    listar_tabelas(nome_banco_dados)


main()

Tabelas no banco de dados:
usuarios
users

##### Escreva um programa Python para criar uma tabela e inserir alguns registros nessa tabela. Finalmente seleciona todas as linhas da tabela e exibe os registros.

In [37]:
def criar_tabela(conexao):
    # Cria um objeto cursor para executar comandos SQL
    cursor = conexao.cursor()

    # Comando SQL para criar a tabela
    comando_sql = """
        CREATE TABLE IF NOT EXISTS usuarios (
            id INTEGER PRIMARY KEY,
            nome TEXT NOT NULL,
            idade INTEGER
        )
    """

    # Executa o comando SQL para criar a tabela
    cursor.execute(comando_sql)

    # Salva as alterações no banco de dados
    conexao.commit()

    # Fecha o cursor
    cursor.close()

def inserir_registros(conexao):
    # Cria um objeto cursor para executar comandos SQL
    cursor = conexao.cursor()

    # Comando SQL para inserir registros na tabela
    comando_sql = """
        INSERT INTO usuarios (nome, idade) VALUES
        ('Alice', 30),
        ('Bob', 25),
        ('Carol', 35)
    """

    # Executa o comando SQL para inserir registros
    cursor.execute(comando_sql)

    # Salva as alterações no banco de dados
    conexao.commit()

    # Fecha o cursor
    cursor.close()

def selecionar_registros(conexao):
    # Cria um objeto cursor para executar comandos SQL
    cursor = conexao.cursor()

    # Comando SQL para selecionar todas as linhas da tabela
    comando_sql = "SELECT * FROM usuarios"

    # Executa o comando SQL para selecionar os registros
    cursor.execute(comando_sql)

    # Recupera o resultado da consulta
    registros = cursor.fetchall()

    # Imprime os registros
    print("Registros na tabela:")
    for registro in registros:
        print(registro)

    # Fecha o cursor
    cursor.close()

def main():
    # Cria uma conexão com o banco de dados SQLite (pode ser na memória ou em arquivo)
    conexao = sqlite3.connect("banco_teste.db")

    # Cria a tabela no banco de dados
    criar_tabela(conexao)

    # Insere registros na tabela
    inserir_registros(conexao)

    # Seleciona e exibe os registros da tabela
    selecionar_registros(conexao)

    # Fecha a conexão com o banco de dados
    conexao.close()


main()

Registros na tabela:
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Carol', 35)

##### Escreva um programa Python para inserir uma lista de registros em uma determinada tabela SQLite.

In [43]:
# criando a tabela+
conn = criar_conexao_banco_dados('banco_teste.db')
def criar_tabela(conexao, comando_sql: str):
    # Cria um objeto cursor para executar comandos SQL
    cursor = conexao.cursor()

    print(comando_sql)
    # Executa o comando SQL para criar a tabela
    cursor.execute(comando_sql)

    # Salva as alterações no banco de dados
    conexao.commit()

    # Fecha o cursor
    cursor.close()

In [44]:
comando_sql = """
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        nome TEXT NOT NULL,
        idade INTEGER
    )
"""

In [45]:
criar_tabela(conn, comando_sql=comando_sql)

    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        nome TEXT NOT NULL,
        idade INTEGER
    )

In [47]:
def inserir_registros(conexao, comando_sql: str):
    # Cria um objeto cursor para executar comandos SQL
    cursor = conexao.cursor()
    # Executa o comando SQL para inserir registros
    cursor.execute(comando_sql)
    # Salva as alterações no banco de dados
    conexao.commit()
    # Fecha o cursor
    cursor.close()

In [50]:
comando_sql = """
    INSERT INTO users (nome, idade) VALUES
    ('Alice', 30),
    ('Bob', 25),
    ('Carol', 35)
"""

In [51]:
inserir_registros(conn, comando_sql=comando_sql)

In [54]:
def selecionar_registros(conexao):
    # Cria um objeto cursor para executar comandos SQL
    cursor = conexao.cursor()

    # Comando SQL para selecionar todas as linhas da tabela
    comando_sql = "SELECT * FROM users"

    # Executa o comando SQL para selecionar os registros
    cursor.execute(comando_sql)
    # Recupera os nomes das colunas
    colunas = [desc[0] for desc in cursor.description]

    # Imprime os nomes das colunas
    print("Colunas da tabela:")
    for coluna in colunas:
        print(coluna)
    # Recupera o resultado da consulta
    registros = cursor.fetchall()

    # Imprime os registros
    print("Registros na tabela:")
    for registro in registros:
        print(registro)

    # Fecha o cursor
    cursor.close()

In [55]:
selecionar_registros(conn)

Colunas da tabela:
id
nome
idade
Registros na tabela:
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Carol', 35)

##### Escreva um programa Python para atualizar um valor de coluna específico de uma determinada tabela e selecione todas as linhas antes e depois de atualizar a referida tabela.

##### Escreva um programa Python para excluir uma linha específica de uma determinada tabela SQLite.

##### Escreva um programa Python para criar um backup de um banco de dados SQLite.