In [1]:
import sys
sys.path.insert(0, '../../env_learning/Lib/site-packages')

# Exercicios

##### Escreva uma classe Python BankAccount com atributos como account_number, balance, date_of_opening e customer_name, e métodos como deposit, Retire e check_balance.

In [42]:
from typing import NewType, Optional

Date = NewType('Date', datetime.date)

In [49]:
from random import randint
from datetime import datetime

class BankAccount:
    def __init__(self, customer_name: str, balance: float = 0.0):
        self.customer_name = customer_name
        self.balance = balance
        self.account_number = randint(10_000, 11_000)
        self.date_of_opening = datetime.today().strftime('%d/%m/%Y')
        self.logs = []
        
    def deposit(self, value: float):
        self.__records(value=value, action='Deposit')
        self.balance += value
        return f'${value:.2f} deposit made'
    
    def retire(self, value: float):
        self.__records(value=value, action='Retire')
        self.balance -= value
        return f'Value ${value:.2f} withdrawn successfully'
    
    def check_balance(self):
        return f'BALANCE ${self.balance:.2f}'
    
    def generate_extract(self):  # date_start: Optional[Date], date_stop: Optional[Date]
        return self.logs 
    
    def __records(self, value: float, action: str):
        self.logs.append((action, value, self.balance, datetime.now()))

In [50]:
customer_A = BankAccount(customer_name='Egito', balance=1000)

In [51]:
customer_A.deposit(value=150)

'$150.00 deposit made'

In [62]:
customer_A.retire(value=50)

'Value $50.00 withdrawn successfully'

In [63]:
customer_A.check_balance()

'BALANCE $750.00'

In [64]:
customer_A.generate_extract()

[('Deposit', 150, 1000, datetime.datetime(2023, 8, 2, 0, 44, 19, 277912)),
 ('Retire', 50, 1150, datetime.datetime(2023, 8, 2, 0, 44, 19, 450983)),
 ('Retire', 50, 1100, datetime.datetime(2023, 8, 2, 0, 44, 35, 695489)),
 ('Retire', 50, 1050, datetime.datetime(2023, 8, 2, 0, 44, 36, 900763)),
 ('Retire', 50, 1000, datetime.datetime(2023, 8, 2, 0, 44, 38, 499565)),
 ('Retire', 50, 950, datetime.datetime(2023, 8, 2, 0, 44, 39, 42454)),
 ('Retire', 50, 900, datetime.datetime(2023, 8, 2, 0, 44, 39, 539875)),
 ('Retire', 50, 850, datetime.datetime(2023, 8, 2, 0, 44, 40, 59794)),
 ('Retire', 50, 800, datetime.datetime(2023, 8, 2, 0, 44, 40, 524581))]

##### Escreva uma classe Python Restaurant com atributos como menu_items, book_table e customer_orders, e métodos como add_item_to_menu, book_tables e customer_order.
Execute as seguintes tarefas agora:  
Agora adicione itens ao menu.  
Faça reservas de mesa.  
Anote os pedidos dos clientes. 
Imprima o cardápio.  
Imprimir reservas de mesa.  
Imprima os pedidos dos clientes.  
Nota: Use dicionários e listas para armazenar os dados.

In [32]:
from typing import List, Deque, Dict, Tuple, Any, Union
from collections import deque
from dataclasses import dataclass


@dataclass
class Restaurant:
    def __init__(self, fila: List[Union[str, int]] = deque(), menu: Dict[str, float] = {'carne assada': 18.99}):
        self.fila = fila
        self.menu = menu
        
    def get_in_line(self, name: str, mesa: int):
        return self.fila.append([name, mesa])

    def show_menu(self):
        print(self.menu)

In [33]:
restautante = Restaurant()

restautante.get_in_line(name='Egito', mesa=1)

restautante.get_in_line(name='Renan', mesa=2)

restautante.get_in_line(name='Leonardo', mesa=3)

In [39]:
restautante.fila

deque([['Egito', 1], ['Renan', 2], ['Leonardo', 3]])

In [41]:
restautante.show_menu()

{'carne assada': 18.99}

##### Crie uma classe chamada Pessoa que tenha os atributos nome e idade. Em seguida, crie um objeto dessa classe e imprima seus atributos.

In [12]:
from dataclasses import dataclass

@dataclass
class Pessoa:
    nome: str
    idade: int

pessoa = Pessoa(nome='Luiz Henrique Souza Egito', idade=26)
print(pessoa)

Pessoa(nome='Luiz Henrique Souza Egito', idade=26)

In [11]:
# usando pydantic
from pydantic import BaseModel
class Pessoa(BaseModel):
    nome: str
    idade: int

pessoa = Pessoa(nome='Luiz Henrique Souza Egito', idade=26)
print(pessoa)

nome='Luiz Henrique Souza Egito' idade=26

##### Crie uma classe chamada Retangulo que tenha os atributos largura e altura. Adicione um método chamado calcular_area que calcula e retorna a área do retângulo.

In [56]:
from dataclasses import dataclass

class Retangulo:
    def __init__(self, largura: float, altura: float):
        self.largura = largura
        self.altura = altura
        self.area = self.largura * self.altura

In [57]:
ret1 = Retangulo(largura=2, altura=4)
ret2 = Retangulo(largura=8, altura=4)

In [58]:
ret1.area > ret2.area

False

##### Crie uma classe chamada Calculadora que tenha um método chamado soma que recebe dois números como parâmetros e retorna a soma deles. Faça mais coisas que apenas a soma como por exemplo a derivada e integral

##### Crie uma classe chamada Livro que tenha os atributos titulo, autor e ano. Em seguida, crie uma lista de objetos Livro e ordene-os por ano.

In [59]:
from dataclasses import dataclass

@dataclass
class Livro:
    gernero: str
    autor: str
    ano: int

In [62]:
book1 = Livro('ficção', 'WW bullet', 2015)
book2 = Livro('ação', 'JJ Abran', 2000)
book3 = Livro('aventura', 'Jorge Luca', 2023)

In [66]:
estante = [book1, book2, book3]

In [68]:
sorted(estante, key=lambda x: x.ano, reverse=True)

[Livro(gernero='aventura', autor='Jorge Luca', ano=2023),
 Livro(gernero='ficção', autor='WW bullet', ano=2015),
 Livro(gernero='ação', autor='JJ Abran', ano=2000)]

##### Crie uma classe chamada Cachorro que tenha os atributos nome e idade. Adicione um método chamado latir que imprime "Au au!" na tela.

In [69]:
from dataclasses import dataclass

@dataclass
class Dog:
    nome: str
    idade: int
    
    def latir(self):
        print('Au Au')

In [74]:
rex = Dog(nome='rex', idade=3)
rex.latir()

Au Au

##### Crie uma classe chamada Ponto que tenha os atributos x e y. Crie um método chamado distancia que recebe outro ponto como parâmetro e retorna a distância euclidiana entre os dois pontos.

In [ ]:
dAB² = (xB – xA)² + (yB – yA)².

In [90]:
from dataclasses import dataclass
from math import sqrt

@dataclass
class Dot:
    x: float
    y: float
    
    def distancia(self, other):
        distance = (self.x - other.x) ** 2 + (self.y - other.y) ** 2
        return round(sqrt(distance), 2)

In [91]:
p1 = Dot(x=1, y=2)
p2 = Dot(x=5, y=-7)

In [93]:
p1.distancia(p2)

9.85

##### Crie uma classe chamada Carro que tenha os atributos marca, modelo e ano. Crie um método chamado descricao que retorna uma string formatada com as informações do carro.

In [94]:
from dataclasses import dataclass

@dataclass
class Car:
    marca: str
    modelo: str
    ano: int
    
    def description(self):
        return f'Marca: {self.marca} | Modelo: {self.modelo} | Ano: {self.ano}'

In [96]:
chevet = Car(marca='chevrolet', modelo='chevet', ano=1998)

In [98]:
chevet.description()

'Marca: chevrolet | Modelo: chevet | Ano: 1998'

##### Crie uma classe chamada Matriz que represente uma matriz 3x3. Adicione métodos para somar duas matrizes, multiplicar uma matriz por um escalar e calcular a transposta da matriz.

In [11]:
from typing import List

class Matrix:
    def __init__(self, first_row: List[float], second_row: List[float], third_row: List[float]):
        self.first_row = first_row
        self.second_row = second_row
        self.third_row = third_row
        self.matrix = self.__make_matrix()
    
    def __make_matrix(self):
        return [
            self.first_row,
            self.second_row,
            self.third_row
        ]
    
    def soma_escalar(self, number: float):
        self.matrix = [[x + number for x in rows] for rows in self.matrix]
        return self.matrix
    
    def mul_escalar(self, number: float):
        self.matrix = [[x * number for x in rows] for rows in self.matrix]
        return self.matrix
    
    def transpose(self):
        self.matrix = [list(row) for row in zip(*self.matrix)]
        return self.matrix
        
    def mul_matrix(self, other):
        ...

In [12]:
mat = Matrix([1,1,1], [2,2,2], [3,3,3])

In [13]:
mat.transpose()

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [7]:
mat.soma_escalar(1)

[[6, 6, 6], [7, 7, 7], [8, 8, 8]]

Usando getter @propety e setter em classes

In [1]:
class Pessoa:
    msg = "Isso é uma classe."
    def __init__(self, name, age):
        self._name = name
        self._age = age

    @classmethod
    def mensagem(cls):
        print(cls.msg)

    @property
    def name(self):
        return self._name

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, new_age):
        self._age = new_age

    @staticmethod
    def exit():
        return 'Saindo'

In [2]:
luiz = Pessoa(name='Luiz', age=26)

In [27]:
class PowerRange(Pessoa):
    def __init__(self, name, age, power, color):
        super().__init__(name, age)  # Chama o construtor da classe base
        self.power = power  # Adiciona um novo atributo power
        self.color = color
        self.its_moldy: bool = False

    def morfar(self):
        print(f'{self.name} is morphed into ranger {self.color}\nby the strength of {self.power}')
        self.its_moldy = True

    def desmorfar(self):
        self.its_moldy = False
    
    def myself(self):
        if self.its_moldy:
            print(f'ranger {self.color} ready')
        else:
            print(f'{self.name} its time to morph')

In [28]:
power_ranger_red = PowerRange(name='Luiz', age=26, power='thunder', color='red')

In [29]:
power_ranger_red.morfar()

Luiz is morphed into ranger red
by the strength of thunder

In [30]:
power_ranger_red.myself()

ranger red ready

In [31]:
power_ranger_red.desmorfar()

In [32]:
power_ranger_red.myself()

Luiz its time to morph

In [33]:
power_ranger_red.power

'thunder'